.modal.fade#cancelAccountModal
  .modal-header
    a.close(data-dismiss="modal") ×
    h3 Cancel Account
  .modal-body
    form.form-inline
      fieldset
        .controls
          .input-append
            input(type="password", class="span3", placeholder="type in your password", name="password", size="16")
            button.btn.btn-primary(type="submit") Cancel Account