.modal.fade#changeEmailModal
  .modal-header
    a.close(data-dismiss="modal") ×
    h3 Change Email
  .modal-body
    form.form-inline
      fieldset
        .controls
          .input-append
            input(type="text", class="span3", placeholder="new email address", name="email", size="16")
            button.btn.btn-primary(type="submit") Change