.modal.fade#changeAccountPasswordModal
  .modal-header
    a.close(data-dismiss="modal") ×
    h3 Change Password
  .modal-body
    form.form-inline
      fieldset
        .controls
          input(type="password", class="span2", placeholder="current password", name="currentPassword", size="16")
        .controls
          .input-append
            input(type="password", class="span2", placeholder="new password", name="newPassword", size="16")
            button.btn.btn-primary(type="submit") Change