// dashboard

h1.name
  padding 5px
  margin-bottom 10px
  round(3px)

h1.name:hover
  background rgba(255,255,255,0.05)

.settings
  padding-top 12px
  text-align right

.settings a
  margin-right 10px
  border-radius 20px
  padding-left 15px
  padding-top 6px
  padding-bottom 6px

// todo - use a css class
#screenWidth, #share, #deleteDashboard, #styleDashboard
  background rgba(0,0,0,0.2)
  text-shadow 1px 1px 1px rgba(0,0,0,0.5)
  color white

// todo - use a css class
#screenWidth:hover, #share:hover, #styleDashboard:hover
  background rgba(0,0,0,0.1)

#deleteDashboard
  padding-top 7px
  padding-bottom 5px
  padding-right 10px
  background rgba(255,0,0,0.2)

#deleteDashboard:hover
  background rgba(255,0,0,0.3)