.docs
  margin-top 60px

  h1
    margin-bottom 20px

  h2
    font-size 16pt

  dt
    color white !important
    margin-bottom 5px

  dd, a
    color #999

#doc-content 
  p, ul
    line-height 2em
    font-size 10pt
    font-weight 200
    letter-spacing 1px
    padding-bottom 10px
  
  li
    margin 4px

  pre
    background rgba(255,255,255,0.1)
    padding 2px

  span.url
    font-family 'Menlo', 'Monaco', 'Courier New' 
    margin-right 10px

  .badge-get
    background #007599

  .badge-post
    background #429900

  .badge-put
    background #E4BE00

  .badge-delete
    background #BE0000

  #dash-work
    padding 20px
    background rgba(0,0,0,0.5)
    round(15px)
    text-align center
    box-shadow inset 0px 0px 15px black
    margin-bottom 20px

.document
  cursor pointer
  color #999

.document:hover, .docs a:hover
  color #777 !important

