#loginModal input[name="password"]
  width 153px
  round-corner(top, right, 0px)
  round-corner(bottom, right, 0px)

#loginModal button
  round-corner(top, right, 15px)
  round-corner(bottom, right, 15px)
  padding-right 15px