.modal-backdrop
  opacity 0.5 !important

form .controls
  margin 15px 0px 15px
  text-align center

.btn-danger
  round(15px)
  padding-left 15px
  padding-right 15px

.modal
  vertical-gradient(#eee, #ccc)
  color rgba(0,0,0,0.5)

  .modal-header
    border-bottom none

  .modal-header h3
    font-weight 300
    text-align center

  .modal-footer
    background rgba(255,255,255,0.1)

  .btn-primary, .btn
    text-shadow 0px -1px 1px rgba(0,0,0,0.3)
    -webkit-transition background 0.1s linear

  .btn-primary
    color white
    background #6ABE2A

  .btn-primary:hover
    color white
    background #7ADD2E
    text-shadow 0px -1px 1px rgba(0,0,0,0.3)
    border-color #6FC92B

  input
    background white
    round 15px
    padding-left 10px

  .control-group.error input, .control-group.error select, .control-group.error textarea 
    border-color #D67E7E
    color #D67E7E

  .error input::-webkit-input-placeholder, .error input::-moz-placeholder
    color #D67E7E

.modal button:focus
  outline none
  border-top-right-radius 15px
  border-bottom-right-radius 15px
  padding-right 15px
  border-color #6ABE2A
  box-shadow 0px 0px 5px #6ABE2A