// Modals

#newDashboardModal input[name="name"]
  width 145px
  round-corner(top, right, 0px)
  round-corner(bottom, right, 0px)

#newDashboardModal button
  round-corner(top, right, 15px)
  round-corner(bottom, right, 15px)
  padding-right 15px