// Modals

.signupModal input[name="password"]
  width 145px
  round-corner(top, right, 0px)
  round-corner(bottom, right, 0px)

.signupModal .btn-primary
  round-corner(top, right, 15px)
  round-corner(bottom, right, 15px)
  padding-right 15px