.docs
  .row
    .span3
      dl 
        dt.document(data-document="introduction/index") Introduction
        dd.document(data-document="introduction/how-dashku-works") How does Dashku work?
      dl
        dt.document(data-document="dashboards/index") Dashboards
        dd.document(data-document="dashboards/create") Create
        dd.document(data-document="dashboards/delete") Delete
        dd.document(data-document="dashboards/rename") Rename
        dd.document(data-document="dashboards/resize") Resize
        dd.document(data-document="dashboards/share") Share 
      dl
        dt.document(data-document="widgets/index") Widgets
        dd.document(data-document="widgets/create") Create
        dd.document(data-document="widgets/delete") Delete
        dd.document(data-document="widgets/rename") Rename
        dd.document(data-document="widgets/resize") Resize
        dd.document(data-document="widgets/transmit") Transmit data to the widget
      dl 
        dt.document(data-document="editor/index") Widget Editor
        dd.document(data-document="editor/how-it-works") How the editor works
        dd.document(data-document="editor/modify") Modifying a widget's code
        dd.document(data-document="editor/js-libs") Using 3rd-party JS libraries
        dd.document(data-document="editor/test") Testing the widget
        dd.document(data-document="editor/coffee") Use CoffeeScript
      dl 
        dt.document(data-document="api/index") REST API
        dd.document(data-document="api/using") Using the API
        dd.document(data-document="api/get-all-dashboards") Get all dashboards
        dd.document(data-document="api/get-a-dashboard") Get a dashboard
        dd.document(data-document="api/create-a-dashboard") Create a dashboard
        dd.document(data-document="api/update-a-dashboard") Update a dashboard
        dd.document(data-document="api/delete-a-dashboard") Delete a dashboard
        dd.document(data-document="api/create-a-widget") Create a widget
        dd.document(data-document="api/update-a-widget") Update a widget
        dd.document(data-document="api/delete-a-widget") Delete a widget
        dd.document(data-document="api/transmit") Transmit data to the widget

    .span9#doc-content