.modal.fade#changePasswordModal
  .modal-header
    a.close(data-dismiss="modal") ×
    h3 Change Password
  .modal-body
    form.form-inline
      fieldset
        input(type="hidden", name="token", value="{{token}}")
        .controls
          .input-append
            input(type="password", class="span2", placeholder="password", name="password", size="16")
            button.btn.btn-primary(type="submit") Change