.row#features
  .span12
    h2 Features
  .span4.feature
    h3 A beautiful, seamless UI
    .featureImage
      img(src="/images/features/1-simple-ui.png", width="100%", height="100%")
    p Dashku's UI is designed with visual interactivity in mind. Rename dashboards, move widgets, and resize them in a snap. 
  .span4.feature
    h3 Build Widgets using HTML, CSS, and JavaScript
    .featureImage
      img(src="/images/features/2-editor.png", width="100%", height="100%")
    p Dashku's widgets comprise of HTML, CSS, and JavaScript. Click on the edit button, and you can edit the code right away.
  .span4.feature.last
    h3 See Dashboard changes in realtime
    .featureImage
      img(src="/images/features/3-ss-logo.png", width="75%", height="75%")
    p Thanks to SocketStream, changes made to your dashboards and widgets happen across all browsers in realtime.
  .span12
  .span4.feature
    h3 Make dashboards to fit your monitor
    .featureImage
      img(src="/images/features/4-resize-button.png", width="100%", height="100%")
    p With one click of a button, Dashboards can be resized to fill your screen, and widgets resized by dragging their bottom-right corner.
  .span4.feature
    h3 Use your favourite JS visualisation libraries
    .featureImage
      img(src="/images/features/5-js-visualisation.png", width="120%", height="120%")
    p Dashku lets you use various JavaScript graphing and charting libraries in your widgets, like D3, Square's Cubism, Raphael, and more.
  .span4.feature
    h3 Get scripts to send data to the widgets
    .featureImage
      img(src="/images/features/6-server-scripts.png", width="100%", height="100%")
    p You can download scripts in Node.js, Ruby, PHP, and Python that send JSON data to your widget via a simple HTTP API.
  .span12
  .span4.feature
    h3 Use CoffeeScript to write the widget's code
    .featureImage
      img(src="/images/features/7-coffeescript.png", width="150%", height="150%")
    p With one click on the javascript code tab, you can write your widget's code in CoffeeScript, and what's more, we convert the JavaScript for you.
  .span4.feature 
    h3 Use existing widget templates out of the box
    .featureImage
      img(src="/images/features/8-templates.png", width="100%", height="100%")
    p Dashku provides a list of existing widget templates for you to use right away and tinker with as you like.
  .span4.feature 
    h3 Unlimited Dashboards and Widgets
    .featureImage
      img(src="/images/features/9-infinity.png", width="100%", height="100%")
    p Unlike other Dashboard services, we don't place limits on how many dashboards and widgets you can use.
  .span12.footer
    &copy; 2012 Paul Jensen