.homepage
  span#beta
    span#left-triangle 
    span#beta-text BETA
    span#right-triangle 
  .row.spiel
    .span12.center
      p Dashku lets you build real-time dashboards and widgets using HTML, CSS, and JavaScript.
      a.btn.btn-try.btn-large#signup Signup