.row.choose
  .option.span3#buildWidget
    h3.center Build your own widget
    img(src="/images/newWidget.png")
    p Create a new widget using HTML, CSS, and JavaScript
  span.or or
  .option.span3.pull-right#widgetFromTemplate
    h3.center Copy a widget template
    img(src="/images/widgetTemplate.png")
    p Browse a library of existing widgets, and copy a widget from there.