#cssEditor
  .header 
    span Style Dashboard
    a.close(href="#", title="When you close the editor, the changes you've made to the CSS are saved to the dashboard.") &times;
  .content
    #editContainer