style#dashboardStyle
  {{{css}}}
.dashboard
  .row.spiel.switch-width
    .span8
      h1.name(contenteditable="true") {{name}}
    .span4.settings
      a(href="#", title="Adjust the width of the dashboard").btn.btn-primary#screenWidth
        i.icon-white.icon-resize-horizontal
      a(href="#", title="Change the style of the dashboard").btn.btn-primary#styleDashboard
        i.icon-white.icon-edit
      a(href="{{dashboardUrl}}", target="_blank", title="Share your dashboard with a read-only link").btn.btn-primary#share
        i.icon-white.icon-share
      a(href="#", title="Delete the dashboard").btn.btn-danger#deleteDashboard
        i.icon-white.icon-trash
  .row.switch-width
    .span12#widgets(data-dashboardId="{{_id}}")
      {{#widgets}}
      {{> widget}}
      {{/widgets}}
