.modal.fade#newDashboardModal
  .modal-header
    a.close(data-dismiss="modal") ×
    h3 New Dashboard
  .modal-body
    form.form-inline
      .controls
        .input-append
          input(type="text", class="span2", placeholder="name", name="name")
          button.btn.btn-primary(type="submit") Create