.widget(data-id="{{_id}}", style="width:{{width}}px; height: {{height}}px;")
  .buttons
    .edit(title="edit widget")
    .delete(title="delete widget")
  .header(contenteditable="true") {{name}}
  style(type="text/css") {{{scopedCSS}}}
  .content {{{html}}}